
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        

    <form method="post" action="/">
        <fieldset>
            <legend>Your Rating:</legend>
                <label for="fname">First Player:</label><br>
                <input  type="text" id="myText" value="{{Ra}}" name="Ra"/>
                <br>

                <label for="sname">Second Player:</label><br>
                <input  type="text" id="myText1" value="{{Rb}}" name="Rb"/>
                <br>

                <label for="kfactor">K- factor:</label><br>
                <input  type="text"id="myText2" value="{{K}}" name="K"/>
                <br> 
                <input type="submit" value="Submit">
        </fieldset>

    </form>
    
   {% if ResultElo1 >= 0 %}
        <p> Win: +{{Delta1}}, {{ResultElo1}}</p>
        <p> Lose: {{Delta2}}, {{ResultElo2}}</p>
        <p> Draw: {{Delta3}}, {{ResultElo3}}</p>
   {% endif %}                     
                
    </body>
    </html>
   

  